<!-- 我发布的商品 -->

<div class="panel-body m15">
  {{#if mygoods.length}}
    <ul class="row classes">
      {{#each mygoods}}
        <li data-id="{{ goods_id }}" class="col col-xs-6 col-sm-4 col-md-4 col-lg-4">
          <div class="innerbox">
            <a href="/goods/detail?id={{goods_id}}">
              <!-- class="img-thumbnail" -->
              <img src="{{ goods_image }}">
            </a>
            <div class="titlediv">
              <span class="title">{{ goods_name }}</span>
              <span class="note">({{ status }})</span>
            </div>
            <div class="subtitle">{{ goods_detail }}</div>
            <div class="subtitle">价格：{{ goods_price }} 元</div>
          </div>
          {{#equal goods_status 0 }}
            <div class="form-group">
              <button type="button" data-id="{{ goods_id }}" class="btn btn-primary btn-xs btn-cancel">撤销发布</button>
            </div>
          {{/equal}}
        </li>
      {{/each}}
    </ul>
  {{else}}
    <div class="innerbox">哦，还没有发布任何东西～</div>
  {{/if}}
</div>

<script>
  $(function() {

    // 撤销商品发布
    $('.btn-cancel').click(function() {
      var $self = $(this)
      var goodsId = $self.data('id')

      ipsAjax('goods', 'cancelPublish', 'goodsId='+goodsId, function(data) {
        // 要移除？
        $self.parent().parent('li').remove()

        // 历史发布过的～
        notification.succeed('撤销商品发布成功！')
      })

    })

  })
</script>
