<!-- 个人信息 -->

<div class="panel-body m15">
  <ul class="list-group">
    <li class="list-group-item">
      <label>登录名：</label>
      <span disabled="true">{{ userinfo.username }}</span>
    </li>
    <li class="list-group-item">
      <label>昵称：</label>
      <a href="#" id="nickname">{{ userinfo.nickname }}</a>
    </li>
    <li class="list-group-item">
      <label>性别：</label>
      <span>{{ userinfo.gender }}</span>
    </li>
    <!--<div>出生年月：{{ userinfo.birthday }}</div>-->
    <li class="list-group-item">
      <label>电子邮箱：</label>
      <a href="#" id="email">{{ userinfo.email }}</a>
    </li>
    <li class="list-group-item">
      <label>qq：</label>
      <a href="#" id="qq">{{ userinfo.qq }}</a>
    </li>
    <li class="list-group-item">
      <label>手机号：</label>
      <a href="#" id="mobile">{{ userinfo.mobile }}</a>
    </li>
    <li class="list-group-item">
      <label>注册时间：</label>
      <span disabled="true">{{ userinfo.createtime }}</span>
    </li>
  </ul>
</div>

<script type="text/javascript">
  $(function() {

    // 更新用户信息
    editUserinfo('nickname', '修改昵称')
    editUserinfo('email', '修改电子邮箱')
    editUserinfo('qq', '修改qq')
    editUserinfo('mobile', '修改手机号')

    function editUserinfo (domid, title) {
      $('#'+domid).editable({
        type: 'text',
        pk: domid,
        title: title,
        url: '/users/update',
        ajaxOptions: {
          type: 'post',
          dataType: 'json'
        },
        success: function(response) {
          console.log(response)
          notification.succeed(title + '成功')
        }
      })
    }

  })
</script>
