<div class="container">
  <form class="col-sm-offset-3 col-sm-6 form-horizontal" id="form-signin" role="form" method="post" onsubmit="return false">
    <fieldset>
      <legend></legend>
      <div class="panel panel-default">
        <div class="panel-heading">
          <p class="tc">请先登录</p>
        </div>
        <div class="panel-body m15">
          <div class="form-group">
            <label class="col-sm-4 control-label">用户名</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" name="username" placeholder="请输入用户名" required>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label">密码</label>
            <div class="col-sm-7">
              <input type="password" class="form-control" name="password" placeholder="请输入密码" required>
            </div>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary col-sm-offset-3 col-sm-3" id="btn-signin">登录</button>
            <button type="reset" class="btn btn-default col-sm-offset-1 col-sm-3" id="btn-reset">重置</button>
          </div>
          <div class="form-group">
            <a class="col-sm-3 col-sm-offset-1" id="btn-password">忘记密码</a>
            <a class="col-sm-3 col-sm-offset-5" id="btn-signup">前往注册</a>
          </div>
        </div>
      </div>
    </fieldset>
  </form>
</div>

<script type="text/javascript">
  $(function(){

    var $formSignin = $('#form-signin')

    // 跳转到注册
    $("#btn-signup").click(function(){
      location.href = '/users/signup';
    });

    // 点击登录
    $("#btn-signin").click(function(){

      if ($formSignin[0].checkValidity()) {

        var params = $formSignin.serializeArray();

        ipsAjax('users', 'signin', params, function() {
          notification.succeed('登录成功，正在跳转...')
          setTimeout(function() {
            location.href = '/home';
          }, 1000)
        }, function(data) {
          notification.error(data.message)
        })
      }

    });

    // 重置
    $('#btn-reset').click(function() {
      $formSignin[0].reset();
      return false;
    })

    // 忘记密码
    $('#btn-password').click(function() {

    })

  });
</script>