
* {padding: 0;margin: 0;}

body {
  padding: 0 50px 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  left: 0; right: 0; top: 0; bottom: 0;
  position: absolute;
}

a {
  color: #00B7FF;
}

li {list-style-type: none;}

footer {
  height: 60px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  padding: 20px;
}

.banner {
  width: 100%;
  height: 150px;
  background-color: #EEE;
  display: inline-block;
}

.banner h1 {
  font-size: 40px;
  margin-top: 40px;
  margin-left: 20px;
}

.banner h3 {
  font-size: 20px;
  margin-top: 20px;
  color: #6A6A6A;
  margin-left: 20px;
}

.classes, .page {
  margin: 0 auto;
  width: 100%;
}

.classes {
  float: left;
}

.page {
  clear: both;
}

.classes .innerbox {
  width: 90%;
  margin: 20px auto;
}

.classes ul {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  float: left;
}

.classes li {
  margin: 5px 0;
}

.classes li:hover {
  cursor: pointer;
  box-shadow: 10px 10px 20px gray;
}

.classes img {
  width: 100%;
  height: 200px;
}

.classes .titlediv {
  font-size: 20px;
  line-height: 20px;
  margin-top: 10px;
}

.classes .title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 70%;
  display: inline-block;
}

.classes .subtitle {
  font-size: 14px;
  line-height: 18px;
  margin-top: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.classes .note {
  font-size: 14px;
  line-height: 14px;
  vertical-align: text-top;
}

.page ul {
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: center;
}

.page li {
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  border-radius: 50%;
  background-color: #F0F0F0;
}

.page li.cur {
  background-color: #FFEDB2;
}

.page li.clickable {
  background-color: #D6F2FF;
}

.page li.clickable:hover {
  cursor: pointer;
  background-color: #B9CBF7;
}


#divSmallBoxes {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999
}

.SmallBox {
  position: absolute;
  right: 5px;
  top: 20px;
  width: 400px;
  color: #fff;
  z-index: 9999;
  overflow: hidden;
  border: 1px solid transparent
}

.SmallBox:hover {
  border: 1px solid #fff;
  cursor: pointer
}

.SmallBox .foto {
  font-size: 50px;
  position: absolute;
  left: 17px
}

.SmallBox .textoFull {
  width: 93%;
  float: left;
  padding-left: 20px
}

.SmallBox .textoFoto {
  width: 50%;
  margin: 3px 20px 3px 30px;
  float: left
}

.miniPic {
  position: absolute;
  bottom: 8px;
  right: 9px
}

.miniIcono {
  height: 100%;
  font-size: 20px
}

.SmallBox span {
  font-size: 17px;
  font-weight: 300;
  letter-spacing: -1px;
  display: block;
  margin: 4px 0
}

.SmallBox p {
  font-size: 13px;
  margin-top: 2px
}

.m15 {
  margin: 15px;
}

.comment-item {
  padding: 15px;
  border-bottom: 1px solid #cccccc;
}

.placehold {
  padding-top: 20px;
}

.red {
  color: #f30;
}